version: '3.4'
services:
  # The Database
  weaviate:
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.27.0
    ports:
    - 8080:8080
    - 50051:50051
    volumes:
    - weaviate_data:/var/lib/weaviate
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: 'text2vec-cohere,text2vec-huggingface,text2vec-openai'
      CLUSTER_HOSTNAME: 'node1'

  # Your AI Application
  ai-app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - WEAVIATE_HOST=weaviate
      - WEAVIATE_PORT=8080
      # This special address allows Docker to see the Host (your PC)
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    depends_on:
      - weaviate
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/code/data # Map data folder so uploads persist

volumes:
  weaviate_data: